@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: linear-gradient(#ffdc2a,#3bbff8,#594796,#2c0055);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: 5vh;
  font-family: 'Nova Square', cursive;

}



h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 3rem;
}

h3 > span {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.temp-box-top > span {
  font-size: 2rem;
  
}

.city-name {
  font-size: 0.8rem;
}

.sub-temps {
  font-size: 1rem;
  margin-top: 10px;
}

form{
  display: flex;
  flex-direction: column;
  width: 95%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  align-self: center;
  width: 60%;
  margin-top: 3vh;
}

.temp-box {
  display: flex;
  flex-direction: column;
}

.temp-box-top {
  display: flex;
  flex-direction: column;
  background-color: #2c0055;
  align-self: center;
  justify-self: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px;
  padding-top: 0;
}

input {
  font-size: 2rem;
  border-radius: 15px;
  margin-top: 5px;
  background-color: #fff6a85e;
  min-height: 5vh;
  padding: 0 20px;
}

label {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  align-self: center;
  width: 95%;
}

.half {
  align-self: center;
  width: 100%;
  min-height: 0vh;
  height: 100%;
  padding: 0px;
}

.hero-pic{
  width: 100%;
  padding: 20px;
  display: none;
}

.sub-temps {
  font-size: 1rem;
  height: 20px;
  margin-bottom: 15px;
}

.sub-temps > span {
  font-size: 0.8rem;
}

.weather-pic {
  width: 50%;
  align-self: center;
  clip-path: circle(50%);
}

.icon-box {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin: 0;
  padding: 0;
}
.error {
  font-size: 1rem;
  color: red;
  margin-top: 3px;
}

@media only screen and (min-width: 990px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }

  h1 {
    font-size: 5rem;
    margin-bottom: 5px;
  }
  
  h3 {
    font-size: 6rem;
  }

  h3 > span {
    font-size: 4rem;
  }

  form {
    width: 100%;
  }

  .half {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 50vh;
  }

  .sub-temps {
    font-size: 1.5rem;
    height: 20px;
    margin-bottom: 15px;
  }

  .sub-temps > span {
    font-size: 1.1rem;
  }

  .logo {
    align-self: flex-start;
    width: 10vw;
    margin-top: 1vh;
    margin-left: 1vw;
  }

  .hero-pic {
    width: 100%;
    padding: 20px;
    display: flex;  
  }
}
