* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.App {
  text-align: center;
  background: linear-gradient(#5FC9F6,#594796);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: white;
  height: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 20vh;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 5rem;
}

.temp-box-top > span {
  font-size: 2rem;
}


.city-name {
  font-size: 0.8rem;
}

.sub-temps {
  font-size: 0.8rem;
  margin-top: 2vh;
}

form{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-self: center;
}

.logo {
  align-self: center;
  width: 60vw;
  margin-top: 1vh;
}

.temp-box {
  display: flex;
  flex-direction: column;
}

.temp-box-top {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-self: center;
  justify-self: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  width: 80vw;
}

input {
  border-radius: 15px;
  margin-top: 5px;
  background-color: #d2f1ff5e;
  min-height: 5vh;
}

label {
  font-size: 1.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  border-radius: 15px;
  margin-top: 20px;
  min-height: 4vh;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading-ring-spin infinite 20s linear;
  }
}

@keyframes loading-ring-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
