/* $body-bg: linear-gradient(180deg, #1c0138 0%, #2c0055 100%);
$border: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%); */
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

/* .btn{
  box-shadow: 0px 0px 36px #c80de0;
  transition: all 1s ease-in-out;
  width: 100%;
  align-self: center;
  margin-top: 25px;
  background: #2c0055;
  height: 80px;
  color: #ffdc2a;
  font-family: 'Nova Square', cursive;
  font-size: 35px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


     
.btn {
  display: flex;
  width: 100%;
  height: 65px;
  background: #2c0055;
  box-shadow: 0px 0px 16px #c80de0;
  border-radius: 2px;
  z-index: 2;
  border: 2px solid;
  transition: all 1s ease-in-out;
  border-image: linear-gradient(#360154, #d442d5) 30;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}

 .btn:hover {
  -webkit-text-fill-color: #ffdc2a;
  bottom: 90px;
  transition: all 1s ease-in-out;
  background: #360068;
  color: #ffc62a;
  box-shadow: 0px 0px 36px #ffc62a;
}

button > span {
  text-align: center;
  font-family: 'Nova Square', cursive;
  font-size: 35px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
  background: -webkit-linear-gradient(#ffdc2a, #fb2182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span {
  background: -webkit-linear-gradient(#ffdc2a, #fb2182);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-temps > span {
  font-size: 0.75rem;
  align-self: end;
}
    
@media only screen and (min-width: 990px) {
  
}

